<div class="row">
  <div class="col-xs-12 col-sm-6">

    <div id="content-restaurant">
      <p id="notice"><%= notice %></p>
      <h1><%= @restaurant.name %></h1>
      <p>Address: <%= @restaurant.address %></p>
      <p>Phone number: <%= @restaurant.phone_number %></p>
      <p>Category: <%= @restaurant.category %></p>
    </div>

    <div id="review-restaurant">
      <h4>Reviews:</h4>
      <div>
        <% @restaurant.reviews.each do |review| %>
          <p><%= review.content %> - <%= review.rating %> / 5</p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-6">
    <div class='link'>
      <%= link_to 'Edit restaurant info', edit_restaurant_path(@restaurant), class: 'btn-vale-success col-xs-offset-3 col-xs-6 text-center' %>
      <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: 'btn-vale-success col-xs-offset-3 col-xs-6 text-center' %>
      <%= link_to 'Delete this restaurant', restaurant_path, class: 'btn-vale-success col-xs-offset-3 col-xs-6 text-center', method: :delete, data: { confirm: 'Are you sure?',  } %>
    </div>
  </div>
</div>
