<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar-wagon navbar-wagon-fixed">
      <%= link_to 'La Fourchette', restaurants_path, class: 'text-navbar' %>
      <%= link_to 'Add New Restaurant', new_restaurant_path, class: 'btn btn-vale' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <ul>
        <li>About</li>
        <li>Team</li>
        <li>Contact us</li>
      </ul>
    </div>
  </body>
</html>
